<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%comment%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
    {%endcomment%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}
  {% include 'style-tags' %}
  {% include 'css-variables' %}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', '');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };

    function toggleNav() {
      const x = document.getElementById("main-nav");
      if (x.className === "main-nav") {
        x.className += " responsive";
      } else {
        x.className = "main-nav";
      }
    }
  </script>

  {% include 'script-tags', layout: 'theme' %}

  {{ content_for_header }}
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {% section 'header' %}

  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

  <style>
    @font-face {
      font-family: "TotentanzBackslanted";
      src: url("{{ '../assets/fonts/totentanz-backslanted-webfont.woff2' | asset_url }}") format("woff2"),
           url('{{ "../assets/fonts/totentanz-backslanted-webfont.woff" | asset_url }}') format("woff"),
           url('{{ "../assets/fonts/totentanz-backslanted-webfont.ttf" | asset_url }}') format("truetype");
    }

    @font-face {
      font-family: "TotentanzSlanted";
      src: url("{{ '../assets/fonts/totentanz-slanted-webfont.woff2' | asset_url }}") format("woff2"),
           url('{{ "../assets/fonts/totentanz-slanted-webfont.woff" | asset_url }}') format("woff"),
           url('{{ "../assets/fonts/totentanz-slanted-webfont.ttf" | asset_url }}') format("truetype");
    }
    @font-face {
      font-family: "InterstateBold";
      src: url("{{ '../assets/fonts/interstate_bold-webfont.woff2' | asset_url }}") format("woff2"),
           url('{{ "../assets/fonts/interstate_bold-webfont.woff" | asset_url }}') format("woff"),
           url('{{ "../assets/fonts/interstate_bold-webfont.ttf" | asset_url }}') format("truetype");
    }
  </style>

</body>
</html>
